* {
    transition: all 0.2s;
}

/* Add styles for dark mode */
body.dark-mode {
    background-color: #131212;
    color: #fff;
}

.mode {
    position: fixed;
    bottom: 20px;
    left: 2vw;
}

/* 
.img {
    height: 200px;
    width: 400px;
} */

body.testimonial-card {
    background-color: #333;
    color: #fff;
}

#contact {
    background: url("assets/contactBG.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

footer {
    bottom: 0px;
}

/* Add custom styles for the work experience section */
.work-experience-card {
    cursor: pointer;
    transition: transform 0.3s;
    background-image: linear-gradient(43deg, #ffffff 0%, #7d7a7a 75%, #000000 100%);
    border-radius: 10px;

}

.work-experience-card.show-description {
    transform: translateY(-20px);
}

.cart-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card {
    width: 230px;
    height: 100px;
    padding: 0.5rem;
    background-image: linear-gradient(43deg, #ffffff 0%, #000000 46%, #747171 100%);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: white;
}

.wooSection{
    background-color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 2vh;
}

.card:hover {
    height: 384px;
    transform: skew(0deg);
}

.align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
}

.card h1 {
    text-align: center;
    margin: 1.3rem;
    color: rgb(218, 244, 237);
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

.skillSection{
    background-color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 2vh;
    animation-name: contin;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

@keyframes contin {
    from{
        background-color: black;
        color: white;
    }

    to{
        background-color: white;
        color: black;
    }
}

.skillCard {
    width: 300px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #ffffff 0%, #636263 46%, #ffffff 100%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.skillHeader {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #000000 0%, #636263 46%, #ffffff 100%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.skillBody {
    padding: 20px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-name {
    width: 120px;
    font-size: 16px;
}

.skill-level {
    width: 160px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
}

.skill-percent {
    background-color: #333;
    height: 100%;
}

.skill-percent-number {
    margin-left: 20px;
    font-size: 16px;
}

button {
    align-items: center;
    /* background-color: #41d046; */
    background-image: linear-gradient(43deg, #000000 0%, #636263 46%, #ffffff 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

button:active,
button:hover {
    outline: 0;
}

button:active {
    transform: scale(0.9);
}

@keyframes move {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(calc(100% + 50px), -50%);
    }
}

.footer{
    background-image: linear-gradient(43deg, #000000 0%, #636263 50%, #000000 100%);
    border-top: 1px solid blue;
    box-shadow: rgb(54, 54, 247) 0px 0px 5px 1px;
    animation-name: fot;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

@keyframes fot {
    from{
        box-shadow: rgb(54, 54, 247) 0px 0px 5px 1px;
    }
    to{
        box-shadow: rgb(54, 54, 247) 0px 0px 30px 1px;
    }
}

.fidelis {
    width: 100%;
    height: 100%;
}


hr {
    padding-bottom: 150px;
}

#projectSection{
    margin: 30px;
}

.portfolio{
    border-radius: 15px;
}

ul li{
    list-style-type: none;
}